@using Sisten_Chaide.Resources.Labels

@{
  Layout = null;
}

<!DOCTYPE html>
<html>
<head>
  <title>@Labels.ApplicationError</title>
</head>
<body>
  <h2>
    @Labels.ApplicationError
  </h2>
</body>
</html>
